body {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: minmax(1200px);
  margin: 8px 8%;
}

header {
  background-color: #242F40;
  border-radius: 13px;
  height: 15vh;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.greeting {
  font-size: 34pt;
  margin-left: 5%;
}

.date {
  background-color: #CCA43B;
  border-radius: 13px;
  width: 96%;
  height: 33%;
  align-self: center;
  margin: 8px;
  margin-bottom: 13px;
}

.widget-grid {
  column-gap: 13px;
  display: grid;
  grid-template-columns: repeat(4, 288px);
  grid-template-rows: repeat(auto, 200px);
  margin-top: 13px;
  row-gap: 8px;
  height: 80vh;
  overflow: auto;
}

article section {
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 13px;
  color: #363636;
  margin: 8px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-information, 
.weekly-hydration-activity,
.week-sleep-data,
.week-activity-information  {
  grid-column: 1 / span 2;
}

.sleep-information {
  grid-column: span 2;
}

.friend-list {
  grid-row: 1 / span 3;
  grid-column: 4 / span 1;   
}

p {
  font-size: 12pt;
  line-height: 8pt;
}

.weekday-hydration-display {
  margin: 0px;
  padding: 0Px;
  display: flex;
  flex-direction: row;

}

h4 {
  margin: 0px;
  padding: 0px;
}

.user-step-goal {
  color: #242F40;
  background-color: #CCA43B;
  
}

.all-users-average-step-goal {
  color: #CCA43B;
  background-color: #242f40
}

.all-users-average-step-goal,
.user-step-goal {
  border-radius: 25px;
  width: 225px;
  height: 150px;
  padding: 21px;
}

.weekday-hydration {
  grid-column: 1;
  margin: 1px;
  padding: 3px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-data {
  font-size: 14pt;
  margin: 0px;
  padding: 0px;
}

.user-data span,
.friend span {
  font-weight: 700;
  font-size: 14pt;
}

.user-information h4 {
  margin: 0px;
  padding: 0px;
}

.step-goal-stats div {
  height: 2.5em;
  padding: 0px;
  text-align: center;;
}

.step-goal-stats div h5{
  margin: 3px;
  padding: 0px;
}

.whole-week-sleep-data-display,
.week-activity-record {
  display: flex;
  flex-flow: row nowrap;
}


.weekday-sleep-display,
.weekday-sleep-labels,
.weekday-activity-info {
  color: #242F40;
  background-color: #CCA43B;
  display: grid;
  grid-template-columns: 57px;
  grid-template-rows: repeat(3, 55px);
  margin: 3px;
  padding: 3px;
}

.weekday-sleep-labels,
.weekday-activity-labels {
  grid-template-columns: 68px;
  text-align: left;
  color: #ffffff;
  background-color: #242F40;
}

.weekday-activity-labels {
  width: 80px;
}

.weekday-sleep-labels h5,
.weekday-activity-labels h5 {
  padding: 8px;
  margin: 5px;
}

.day-activity-record h5{
  margin: 3px;
  padding: 3px;
}
/* #363636 (Jet dark brown-black)
242F40 (gunmetal-dark blue)
CCA43B (satin sheen gold - yellow)
E5E5E5 (platinum off grey white) */

